.popup__input {
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 13px 5px;
    margin-top: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
}

@media screen and (max-width: 576px) {
    .popup__input {
      padding: 0 0 9px;
      margin-top: 30px;
    }
  }