.profile__about {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0 21px 0;
    max-width: 415px;
    max-height: 22px;
}

@media screen and (max-width: 576px) {
    .profile__about {
        font-size: 14px;
        max-width: 282px;
        max-height: 14px;
        margin: 14px 0 0;
    }
  }