.card__like-icon {
    width: 21px;
    height: 19px;
    background-image: url(../../../images/like-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.card__like-icon:hover {
    transform: scale(1.1);
  }
.card__like-icon_active {
    background-image: url(../../../images/like-button-active.svg);
  }