.popup__submit {
    margin: 48px 0 0;
    width: 100%;
    padding: 13.66px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }
  .popup__submit:hover {
    opacity: 0.8;
  }
  .popup__submit:disabled {
    opacity: 0.8;
    background-color: #fff;
    border: 1px solid;
    color: grey;
  }

  @media screen and (max-width: 576px) {
    .popup__submit {
      margin: 46px 0 0;
    }
  }