.popup__close {
    background: url(../../../images/close-button.svg) no-repeat transparent center;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
    cursor: pointer;
  }
  .popup__close:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 576px) {
    .popup__close {
      width: 26px;
      height: 26px;
      right: 0;
    }
  }