.footer__copyright {
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    margin: 68px 0 0;
}

@media screen and (max-width: 576px) {
.footer__copyright {
    font-size: 14px;
    margin: 50px 19px 36px;
    }
}